// Fonts
$mainFont: 'Cormorant Infant', serif;
$titleFont: 'Dumbledor', serif;

// Colors
$slytherinGrey: #b0b7c2;
$slytherinGreen: #2a422d;

$ravenclawBlue: #2b4266;
$ravenclawBrown: #a79180;

$gryffindorRed: #7b3644;
$gryffindorYellow: #e29f2c;

$hufflepuffYellow: #fdd330;
$hufflepuffBlack: #1d1d1d;
