@import 'core/variables';

.character {
  &:nth-child(2n) .article__frame {
    animation: 5s ease infinite linger;
  }
  &:nth-child(5n) .article__frame {
    animation: 5s ease infinite linger2;
  }
}

@keyframes linger2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(1.5deg);
  }
  30% {
    transform: rotate(-1deg) translateY(3px);
  }
  60% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes linger {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(1deg) translate(-4px);
  }
  100% {
    transform: rotate(0deg);
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  margin: 20px;
  &:hover {
    transform: scale(1.05);
    transition: 0.5s ease transform;
    filter: drop-shadow(0px 0px 10px $ravenclawBrown);
    // Custom cursor from url below
    cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
  }
  &:hover .gif {
    filter: grayscale(0%);
  }
  &__frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 280px;
    background-image: url(../images/frame.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;

    &--img {
      width: 150px;
      height: 210px;
      object-fit: cover;
    }

    & .gif {
      filter: grayscale(80%);
    }
  }
  &__name {
    color: whitesmoke;
    font-family: $titleFont;
    padding: 5px;
  }
  &__species {
    color: $slytherinGrey;
    font-family: $mainFont;
    font-weight: 500;
  }
}
